
#avatars{
    border: 1px solid;
    position: relative;
    height: 80%;
    overflow-x: auto;
    white-space: nowrap;
}

.avatar-wrapper{
    display: inline-block;
    width: 200px;
    height: 100%;    
/*     border: 1px solid red; */
}

.avatar{
    position: relative;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    border: 1px solid transparent;
/*     border: 1px solid blue; */
}
.avatar:hover{
    cursor: pointer;
    border: 1px solid;
}

.avatar-name{
    color: wheat;
}

.avatar-color{
    position: absolute;
    width: 90%;
    left: 5%;
    height: 2%;
    bottom: 5;
}



#create{
    text-align: center;    
    border: 1px solid;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 80%;
    background: black;
    bottom: -60%;
    transition: .5s
}

#create form{
    width: 300px;
    display: inline-block;
    padding: 80px 0 40px 0
}

#create form input:nth-of-type(1){
    width: 100%;
    margin-bottom: 30px;
    background: black;
    color: grey;
    border
}

#enter-world,
#logout{
    position: fixed;
    bottom: 0px;
    right: 0px;    
    padding: 10px;
}
#enter-world a,
#logout a{
    color: black;
    text-decoration: none
}
#logout{
    right: auto;
    left: 0px;
}

.avatar.selected{
    border: 1px solid white;
}

#create-avatar{
/*     display: inline-block; */
/*     border: 2px solid; */
/*     height: 100%; */
    vertical-align: top;
}
#create-avatar .flex-liner{
/*     border: 2px solid green; */
    height: 100%;
/*     position: relative; */
}
#create-avatar a{
    text-decoration: none;
    font-size: 3rem;
    color: tan;
/*     height: 100%; */
}
/* 
#create-open,
#create-close{
    margin: 0px;
    position: absolute;
    text-align: center;
    width: 100%;
    font-size: 2rem;
    cursor: pointer;
}
#create-open:hover,
#create-close:hover{
    color: white;
} */