body{
    margin: 0;
    background: black;
    color: grey;
/*     font-family: Courier */
}

img{
	max-width: 100%;
}

div,
form,
input{
    box-sizing: border-box;
}

.flex-liner{
	display: flex;
	justify-content: center;
	align-items: center;
}

.button{
    width: auto;
    border: 0;
    background: rgba(208, 146, 33, 0.44);
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}


#alert-contain{
	position: fixed;
	bottom: 70px;
	right: 10px;
	z-index: 99999;
	text-align: right;
	width: 100%;
	pointer-events: none;

}

#alert-contain .alert-msg{
	display: inline-block;
/* 	background: white; */
	background: rgb(70, 69, 69);
	box-shadow: inset 0px 0px 10px black;
	border: 1px solid #9e9c9c;
	border-radius: 3px;
	padding: 5px; 10px;
	padding-right: 80px;
	position: relative;
    margin: 5px 0;
    max-width: 60%;
    text-align: left;
    color: wheat;
    letter-spacing: 1px;
/*     color: black; */
    pointer-events: initial;
/*     overflow: hidden; */
}
.alert-close{
    position: absolute;
    right: 0;
    top: 0;
    background: rgb(0,0,0);
	display: inline-block;
	padding: 5px;
	cursor: pointer;
	    pointer-events: initial;
}

.ui-fader{
    transition: .5s;
    opacity: 1;
}

#alert-contain .standard{
	color: black;
}
.standard .alert-close{
	color: white;
}
#alert-contain .error{
	background: maroon;
	color: white;
/* 	background: rgb(200, 100, 0 ); */
}
#alert-contain .success{
	background: rgb(35, 141, 52)
}
#alert-contain .npc{
    background: rgb(250, 220, 150);
}
#alert-contain .combat{
    background: linear-gradient( 12deg, orange, red );
    color: black;
}
.combat .alert-close{
	color: white;
}
