body{
    margin: 0;
    background: black;
    color: grey;
}

div,
form,
input{
    box-sizing: border-box;
}

#mud-home{
    border: 2px solid;
    height: 90vh;
    width: 90vw;
    margin: 5vh
}

.button{
    width: auto;
    border: 0;
    background: rgba(208, 146, 33, 0.44);
    color: black;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}