#chat{
	position: fixed;
	z-index: 99;
	width: 40%;
	height: 160px;
	left: 0%;
	bottom: 70px;
	pointer-events: none;
	transition: .3s;
/* 	border: 2px solid red; */
}

#chat-content{
	height: 140px;
	padding: 5px;
	background: rgba(00, 0, 00, .5);
	overflow-y: auto;
	padding-bottom: 15px;
/* 	border: 1px solid wheat; */
/* 	box-shadow: inset 0px 0px 15px black; */
/* 	border-radius: 0px 15px 0 0; */
	pointer-events: initial;
}

#chat-toggle{
	background: rgba(0,0,0,.5);
	display: inline-block;
	padding: 5px 8px;
	cursor: pointer;
	pointer-events:  initial;
	position: absolute;
	top: 20px;
	left: 100%;
	user-select: none;
	color: white;
}

#chat-content .speaker{
	color: blue;
}

#chat-content .chat{
	color: #929292;
}
#chat-content .chat.self span{
/* 	color: white; */
}
#chat-content .chat.emote{
/*     color: pink; */
    background: rgba(255, 255, 255, .1)
}

#chat-content,
#chat-input{
	font-size: 13px;
	font-family: Helvetica;
}

#chat-input{
	width: 100%;
	background: rgb(0, 0, 0);
	border: 0px;
	border-radius: 0px 0px 5px 0;
	border-bottom: 1px solid grey;
	line-height: 18px;
	border: 2px solid rgb(0, 0, 0);
	color: white;
	padding: 0 5px;
	pointer-events: initial;
}
#chat-input::placeholder{
	color: lightgrey;
}

.chat-bubble{
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	font-size: .9rem;
	padding: 5px 10px;
	background: rgba(0, 0, 0, .7);
	border-radius: 5px;
	border: 1px solid;
	font-size: 14px;
}

#chat.inside{
	bottom: 22%;
	left: 4%;
	border: 1px solid rgb(50, 50, 50);
	width: 92%;
	height: 30%;
/* 	border-radius: 5px; */
}

#chat.inside #chat-content{
	height: 100%;
}

#chat.inside input{
	border: 1px solid grey;
}

#chat.inside #chat-toggle{
	display: none;
}

.whisper{
	color: purple
}

.yell{
	color: red;
}