
.popup{
	position: fixed;
	z-index: 99;
	width: 400px;
    height: 500px;
    background: black;
    box-shadow: 0px 0px 10px black;
}

.popup .close{
	position: absolute;
	z-index: 99;
	right: 0;
    top: 0;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.popup .close:hover{
	color: white;
}

.popup .topbar{
	position: absolute;
	z-index: 9;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background: rgb(20, 20, 20);
	cursor: grab;
}

.popup .content{
	position: absolute;
	width: 96%;
	height: 96%;
	left: 2%;
	top: 2%;
	border: 1px solid rgb(20, 20, 20);
	padding: 50px 5px 5px 5px;
	overflow-y: auto;
}

.popup .title{
	position: absolute;
	top: 15px;
	left: 2%;
	color: wheat;
	z-index: 99;
	letter-spacing: 2px;
}

.popup .stat{
	margin: 5px 0;
    border-bottom: 1px solid rgb(20, 20, 20);
/* 	border: 1px solid; */
/*     vertical-align: middle; */
/*     display: inline-block; */
/*     width: 100%; */
}

.popup .content>.stat,
.popup .stat-wrapper{
/* 	padding: 0 10px; */
/* 	border: 1px solid gold; */

}

.popup .stat-key{
/* 	display: inline-block; */
/* 	vertical-align: middle; */
/* 	height: 100%; */
/* 	opacity: .8; */
    color: wheat;
/* 	margin-right: 10px; */
/* 	border: 1px solid red; */
    margin-left: 10px;
}

.popup .stat-wrapper .stat{
	margin-left: 10px;
}
.popup .stat-wrapper .stat .stat-key{
	opacity: .8
}

#inventory.popup .stat-key{
	color: wheat
}

#inventory .stat .icon:hover{
    border: 1px solid lightgrey;
    cursor: pointer
}

.popup .stat-key,
.popup .icon{
	vertical-align: top;
}

.popup .stat .icon{
	margin-right: 10px;
}

.popup .stat-val{
	float: right;
	margin-right: 10px;
}

.popup .melee .icon{
	border: 1px solid rgb(180, 80, 80);
}

.popup .magic .icon{
	border: 1px solid rgb(180, 80, 180);
}

.popup .armor .icon{
	border: 1px solid rgb(130, 130, 130);
}

.popup .ranged .icon{
	border: 1px solid rgb(120, 180, 120);
}

.stat-color{
	width: 20px;
	height: 20px;
	display: inline-block;
	border: 1px solid grey;
	box-shadow: inset 0px 0px 4px black;
	border-radius: 3px;
}

.popup .overlay{
	transition: .5s;
	opacity: 0;
	position: absolute;
    z-index: 99999;
    background: radial-gradient( rgba(255, 255, 100, .1), rgba(255, 255, 100, .5) );
    width: 100%;
    height: 100%;
    pointer-events: none;
}

body.mousehold .popup:hover .overlay{
    opacity: .5;
    pointer-events: initial;
}
.content-equip,
.content-resource{
/* 	border: 1px solid rgb(40, 20, 20); */
/* 	border-radius: 3px; */
	padding: 5px;
	padding-left: 10px;	
	margin-bottom: 20px;
}
.content-equip{
	border-left: 3px solid rgb(30, 30, 60);
}
.content-resource{
	border-left: 3px solid rgb(40, 29, 0);
}