body{
	overflow: hidden;
}

canvas#mud-flats{
/*     border: 2px solid; */
    width: 100%;
}

#action-bar{
	user-select: none;
    position: fixed;
    bottom: 0px;
/*     border: 2px solid; */
    width: 100%;
    height: 45px;
    background: linear-gradient(0deg, rgba(5, 5, 5, .8), transparent );
/*     border-top: 1px solid wheat; */
}

.icon{
	cursor: pointer;
}

.circle-rimmed{
	border-radius: 200px;
	overflow: hidden;
	border: 1px solid lightgrey;
	background: radial-gradient( rgba( 185, 185, 185, .5), rgba(0, 0, 0, 1) );
    box-shadow: inset 0px 0px 5px black, inset 0px 0px 5px black, 0px 0px 5px black;
}

.bar-button{
	position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid tan; 
    margin: 0 3px;  
    overflow: hidden;

    box-shadow: inset 0px 0px 5px lightblue;
    cursor: pointer;
}
.bar-button:hover,
.bar-button.secondary:hover,
.bar-button.tertiary:hover{
    border: 1px solid white;
/*     background: radial-gradient(rgb(50, 50, 50), black); */
}

.action-button{
	opacity: 1;
	vertical-align: bottom;
	background: radial-gradient( rgb(50, 50, 80), black);
/* 	height: 100% */
/* 	height: 20px; */
}

.action-button.primary{
    height: 60px;
    width: 60px; 
    box-shadow: inset 0px 0px 10px rgb( 155, 50, 50);
    background: radial-gradient( rgb(60, 50, 60), black);
}
.action-button.secondary{
    height: 50px;
    width: 50px;
    border: 1px solid rgb(150, 150, 150);
/* 	height: 150px; */
}
.action-button.tertiary{
    border: 1px solid rgb(50, 50, 50);
}


#action-wrapper,
#character-wrapper{
/* 	position: absolute; */
    position: absolute;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border-radius: 10px 10px 0 0;
    margin: -10px 10px 0 10px;
    border: 1px solid tan;
    border-bottom: 0px;
}

#action-wrapper{
    width: 360px;
    height: 50px;
	left: 50%;
	margin-left: -180px;

    background: rgb( 10, 5, 0);
/*     height: 80px; */
    bottom: 0px;
}

#action-liner{
	position: absolute;
	width: 100%;
	height: 130%;
	left: 0;
	bottom: 0;
	padding-left: 8px
}

#character-wrapper{
	right: 0px;
    background: rgb(5, 10, 00)
}



#dev{
	position: fixed;
	z-index: 99;
	top: 0px;
	right: 150px;
/*     width: 50px; */
/*     height: 40px; */
    border: 1px solid;
    background: rgba( 0, 0, 0, .5);
    color: white;
    padding: 10px;
    font-size: 10px;

    display: none;
}

#dev .anim-modulo{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 1px;
    border-left: 1px solid red;
}





#target{
	position: fixed;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	border: 1px solid rgba(50, 50, 50, 0);
	overflow: hidden;
	display: inline-block;
	cursor: pointer;

	display: none;
    width: 70px;
    height: 70px;
	left: 5px;
	top: 5px;
}
#target:hover{
	border: 1px solid white;
/* 	rgb(90, 90, 90); */
}


#target>.inner{
	width: 90%;
	margin-left: 5%;
	height: 90%;
	margin-top: 5%;
}



#target-item.icon{
    top: 60px;
    left: 60px;
    box-shadow: 0px 0px 5px black;
}
#target-item.icon:hover{
	box-shadow: inset 0px 0px 5px lightblue;
}

#structure-key{
	display: none;
    z-index: 99;
}
#structure-key.icon{
    top: 60px;
    left: 130px;
    box-shadow: 0px 0px 5px black;
}
#structure-key.icon:hover{
	box-shadow: inset 0px 0px 5px lightblue;
}

#target-name,
#target-item,
#structure-key{
	display: none;
	position: fixed;
}

#target-name{
	background: rgba(0,0,0,.5);
	padding: 3px 8px;;
	font-size: .8rem;
	color: wheat;
	top: 80px;
	left: 20px;
}

.readout{
	display: none;
	position: relative;
	z-index: 999;
	background: rgba(0, 0, 0, .6);
	text-align: center;
    cursor: pointer;
    margin-left: 100px;
    position: absolute;
    width: 100px;
    top: 0;
}

#target-health .readout{
	color: red;
}

#target-mana .readout{
	color: lightblue;
}

#target-health:hover .readout,
#target-mana:hover .readout{
    display: initial;   
}

.status{
    height: 100%;
}

#target-health .status{
	background: linear-gradient( black, red );
}

#target-mana .status{
	background: linear-gradient( black, lightblue );
}

#status{
	display: none;
	position: fixed;
	z-index: 9;
	top: 60px;
/* 	height: 20px; */
	left: 20px;
	width: 100px;
	background: rgba( 0, 0, 0, .7);

/* 	border: 1px solid; */
}

#status .bar{
	position: relative;
	height: 10px;	
}
.bar{
	position: relative;
	height: 100%;
    padding: 1px;
	border: 1px solid grey;
	background: rgba( 0, 0, 0, .8);
/* 	border-radius: 2px;	 */
}




/* #compass{

    display: none;

	position: fixed;
	top: 10px;
	right: 10px;
	width: 100px;
	height: 100px;
	background: rgba( 255, 255, 255, .1);
	border-radius: 100px;
}

#compass>div{
    border: 1px solid;
    width: 90%;
    height: 90%;
    position: absolute;
    top: 5%;
    left: 5%;
    border-radius: 100px;
}

#compass-arrow{
	width: 1px;
	height: 45px;
	background: maroon;
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -0px;

	transform-origin: 0 100%;
	transform: rotate(0deg);

	transition: 1s
}
 */


.popup .stat .icon,
#mousehold,
#target-item.icon,
#structure-key.icon{
	width: 30px;
	height: 30px;
	border-radius: 5px;
	background: radial-gradient( grey, black);
	border: 1px solid;
}



#mousehold{
	position: fixed;
	z-index: 999;
	width: 40px;
	height: 40px;
}

#mousehold img{

}


.flash-hurt,
.overlay-dead{
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient( transparent, rgba( 155, 0, 0, .5) )
}

.overlay-dead{
    background: radial-gradient( rgba(05, 05, 255, .3), rgba( 0, 0, 0, .8) )
}

.cooldown-cover{
	position: absolute;
    z-index: 99999;
	top: 0;
	left: 0;
	width: 100%;
	height: 0%;
	background: rgba(0, 0, 0, .8);
	transition: .2s;
}

.cooldown .cooldown-cover{
	height: 100% !important
}

#dedders{
	display: none;
	position: fixed;
	z-index: 99;
	width: 100%;
	height: 100%;
}
#dedders .flex-liner{
	height: 100%;
	flex-direction: column;
	background: rgba(0,0,0,.8)
}

#dedders .flex-liner a{
    padding: 10px;
}
#dedders img{
	max-width: 90px;
	margin-bottom: 10px;
}

/* #dedders */